/*  Hoja de Estilos Proyecto CAC Phyton  */
:root {
/*     

       Colores Globales 

Cambié esta parte del código para unificar la definición de los colores en un solo lugar.
JE 20230927-1115

*/
  --fondo-std: rgba(116, 211, 114, 1.0);
  --fondo-menu: rgba(64, 128, 63, 1.0);
  --frente-std: white;
  --top-logo: 300px;
  --logo-size: 500px;
}

* {
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, Sans-Serif;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: var(--fondo-std);
    border-radius: 5px;
    width: 100%;
}

footer, .fila, .navbar, .img{
  display: flex;
}

.navbar {
  align-content: center;
}

.img {
  width: 100%;
  align-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* 3 columnas*/
.column {
  flex: 30%;
  max-width: 30%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* de 500 para abajo se hace una columna */
@media (max-width: 650px) {
  .column {
    flex: 100%;
    max-width: 100%;
    justify-content: space-between;
  }
}

footer, .fila {
  justify-content: space-around;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  footer, .navbar, .fila, .descrip, .aa  {   
    flex-direction: column;
  }
}

header {
    background-color: var(--fondo-menu);
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
}

h1, .imagen {
  padding-top: 10px ;
  text-align: center;
}

.nav, .dropdown {
  background-color: var(--fondo-std);
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
/*  lo q quiero q cambie cuando paso el mouse por arriba */
.nav:hover { 
  background-color: rgb(166, 223, 165);
}

/* MENU DESPLEGABLE  */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--fondo-menu);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content > .nav {
  background-color: rgb(240, 234, 234);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
/* color q se pone cuando pongo el cursor arriba */
.dropdown-content a:hover {
  background-color: var(--fondo-std)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5b605b;
}

/* ESTILO PREGUNTAS FRECUENTES */
.faq {
  color: var(--fondo-menu);
  font-size: 15px;
  border-color: #fa6446;
  border: 5px;
  padding-top: 5px;
}

.rta {
  font-size: 13.5px;
}

a {
  color: white;
  text-decoration: none;
}

h4 {
  display: flex;
  padding: 10px;
  width: 85%;
  display: block;
  border-radius: 5%;
  margin-left: 0px;
  margin-right: auto;
  background-color: rgba(116, 211, 114, 1.0);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes example {
  0%   {background-color: rgba(116, 211, 114, 1.0); left:0px; top:0px;}
  25%  {background-color:rgba(116, 211, 114, 1.0); left:200px; top:0px;}
  100% {background-color:rgba(116, 211, 114, 1.0); left:0px; top:0px;}

}
/* Estilos usados en las páginas de detalle de productos:

    producto-001.html  Termotanques solares
    producto-002.html  Paneles solares 
    
*/

h2.producto {
  color:white;
  background-color: var(--fondo-std);
  text-align: center;
  padding: 15px;
  margin: 20px 0px 20px 0px;
  font-size: 2rem;
  border-radius: 5px;
}

h3.producto {
  color:white;
  background-color: var(--fondo-menu);
  text-align: center;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  font-size: 1.15rem;
  border-radius: 5px;
}

.img-producto, .tbl-producto, .img {
  width: 50%;
  display: block;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

.tbl-producto {
  width: 95%;
}

img.iconos-descarga {
  width: 8%;
  display: block;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

p.iconos-leyenda {
  font-size: 0.8rem;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Formulario de contactos
registros.html*/

.contacto{
   
  background-color: #202020;
  padding: 140px 0 100px 0;
  color: #e6e6e6;
  text-align: center;
}
.contacto .contenido-seccion{

  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.contacto .contenido-seccion h3{
  text-transform: uppercase;
  font-size: 30px;
}
.contacto .contenido-seccion .fila{
  display: flex;
  justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
  margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
  color: #40803F;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


/* Estilos usados en Blog de noticias*/


h3{
    color: #fa6446;
}

a{
    color: black;
    text-decoration: none;
}

.containerNoticias{
    padding: 0 25px 25px 25px;
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.noticia{
    background-color: white;
    width: 450px;
    height: 460px;
    margin: 25px 25px 25px 25px;
    padding: 0 25px 25px 25px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(24, 49, 83) 5px 9px 0px 0px;
}

.Boton{
    margin-top: auto;
    padding: 2px 5px 2px 5px;
    background-color: lightslategray;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    box-shadow: rgb(24, 49, 83) 2px 5px 0px 0px;
    cursor: pointer;
}

.Boton:hover {
    transition: all 0.4s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #ecee70;
}

p{
    margin: auto;
    font-size: 1.0em;
}

@media (max-width:500px){

    h1{
        font-size: 20px;
    }

    h3{
        font-size: 15px;
    }

    p{
        font-size: 15px;
        height: 20%;
        overflow-y: scroll;
    }

    .containerNoticias{
        font-size: 24px;
        align-items: center;
        width: 100%;
      }

    .noticia{
        width: 100%;
        height: 400px;
        margin: 20px 0 0 0;
      }
    p{
        -webkit-line-clamp:7;
      }
}

/* Logo animado página principal*/

.moving-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: intro;
  animation-duration:4s;
  animation-iteration-count:1 ;
  animation-fill-mode:forwards;
}

@keyframes intro {
  0%     {left:0%;  top:var(--top-logo); opacity:0; height:5%; width:5%; rotate:0deg}
  10%     {left:5%;  top:var(--top-logo); opacity:0.2; height:5%; width:5%; rotate:450deg}
  100%   {left:20%; top:var(--top-logo); opacity:1.0; height:var(--logo-size); width:var(--logo-size); rotate:360deg}
}

p {
  margin: 20px 5px 20px 5px;
  text-align: justify;
}

.ps-bkgd {
    position: relative;
    overflow: hidden;
    opacity: 0.15;
}

.opening-video {
  position: absolute;
  left: 0;
  top: 300;
}