/*  Hoja de Estilos Proyecto CAC Phyton  */
:root {
/*     

       Colores Globales 

Cambié esta parte del código para unificar la definición de los colores en un solo lugar.
JE 20230927-1115

*/
  --fondo-std: rgba(116, 211, 114, 1.0);
  --fondo-menu: rgba(64, 128, 63, 1.0);
  --frente-std: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Sans-Serif;
}

footer {
    text-align: center;
    background-color: var(--fondo-std);
    border-radius: 5px;
}
header {
    background-color: var(--fondo-menu);
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
}

h1, .imagen {
    text-align: center;
}

.nav {
    background-color: var(--fondo-std);
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 5px;
    
}

.grid-item {
    background-color: var(--fondo-menu);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    margin: 5px 80px 5px 80px;
    justify-content: space-evenly;
}

.grid-item-imag {
    background-color: var(--fondo-menu);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 100px;
    margin: 5px 200px 5px 200px;
    justify-content: space-evenly;
}

/* Estilos usados en las páginas de detalle de productos:

    producto-001.html  Termotanques solares
    
*/

h2.producto {
  color:white;
  background-color: var(--fondo-std);
  text-align: center;
  padding: 15px;
  margin: 20px 0px 20px 0px;
  font-size: 2rem;
  border-radius: 5px;
}

h3.producto {
  color:white;
  background-color: var(--fondo-menu);
  text-align: center;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  font-size: 1.15rem;
  border-radius: 5px;
}


.img-producto, .tbl-producto {
  width: 50%;
  display: block;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

.tbl-producto {
  width: 95%;
}

img.iconos-descarga {
  width: 8%;
  display: block;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

p.iconos-leyenda {
  font-size: 0.8rem;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
